* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gothic A1", "roboto" sans-serif;
    max-width: 1519px;
    padding: 0px 135px 0px 135px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 102px;
    display: flex;
    align-items: center;
    gap: 330px;
}

.logo_link {
    display: flex;
    gap: 60px;
    font-family: "roboto";
    font-weight: 400px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo_link a {
    color: #000;
    text-decoration: none;
    padding: 3.89px 0px 3.89px 0px;
}

.logo_link a:hover {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    /* scale: 1.1; */
}

.logo_link a:active {
    scale: 1.1;
}

/* ======= Main ======= */

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main .main-text {
    padding-left: 135px;
    padding-top: 50px;
}

.main .main-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    color: #bdbdbd;
}

.main .main-text span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    color: #333333;
}

.main-center {
    max-width: 1170px;
    max-height: 435px;
    padding-left: 135px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 60px;
}

.main-center .main-img {
    width: 670px;
    height: 435px;
}

.main-center .main-words {
    padding-left: 30px;
    background-color: #ffffff;
}

.main-center .main-words h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #bdbdbd;
}

.main-center .main-words p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #000000;
    padding-top: 73px;
}

.main-center .main-words button {
    display: flex;
    width: 222px;
    height: 71px;
    border: none;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 20%;
    text-transform: uppercase;
    color: #333333;
    padding-top: 63px;
    align-items: center;
    padding-left: 30px;
    background-color: #ffffff;
}

.main-center-1 {
    max-width: 1170px;
    max-height: 435px;
    padding-left: 135px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.main-center-1 .main-img {
    width: 670px;
    height: 435px;
    /* padding-left: 135px; */
}

.main-center-1 .main-words {
    padding-left: 30px;
    background-color: #ffffff;
}

.main-center-1 .main-words h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #bdbdbd;
}

.main-center-1 .main-words p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #000000;
    padding-top: 73px;
}

.main-center-1 .main-words button {
    display: flex;
    width: 222px;
    height: 71px;
    border: none;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 20%;
    text-transform: uppercase;
    color: #333333;
    padding-top: 63px;
    align-items: center;
    padding-left: 30px;
    background-color: #ffffff;
}

.main-center-2 {
    max-width: 1170px;
    max-height: 435px;
    padding-left: 135px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.main-center-2 .main-img {
    width: 670px;
    height: 435px;
    /* padding-left: 135px; */
}

.main-center-2 .main-words {
    padding-left: 30px;
    background-color: #ffffff;
}

.main-center-2 .main-words h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #bdbdbd;
}

.main-center-2 .main-words p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #000000;
    padding-top: 73px;
}

.main-center-2 .main-words button {
    display: flex;
    width: 222px;
    height: 71px;
    gap: 10px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 20%;
    text-transform: uppercase;
    color: #333333;
    padding-top: 63px;
    align-items: center;
    padding-left: 30px;
    background-color: #ffffff;
}

/* ======  Center ========*/
.section-1_text_text {
    width: 141.88px;
    height: 52px;
    gap: 32px;
    display: flex;
    padding-top: 75px;
    padding-bottom: 95px;
    padding-left: 136px;
}

.section-1_text_text h1 {
    font-family: "roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #bdbdbd;
}

.section-1_text_text img {
    height: 30px;
}

.number h1 {
    color: #000000;
}

.arrows {
    gap: 23px;
    /* margin-top: 90px; */
    display: flex;
}

.arrows span {
    width: 53px;
    height: 53px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows .bx {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
/* ======= Flutter ======= */

.section-6 {
    height: 417px;
    background-color: #333333;
    margin: 0px -135px 0px -135px;
}

.section-6_box {
    height: 347px;
    display: flex;
    padding: 58px 0px 0px 116px;
}

.section-6_box img {
    margin-right: 100px;
}

.section-6_box .information {
    margin-right: 157px;
}

.section-6_box .contacts {
    margin-right: 250px;
}

.information h1 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-bottom: 25px;
}

.information p {
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 16px;
}

.section-6_box .contacts img {
    margin-right: 10px;
}

.section-6_box .contacts h1 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-bottom: 25px;
}

.section-6_box .contacts p {
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 32px;
}

.bottom_text h1 {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-family: "open sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #c8c8c8;
}

.section-6_box .social_media h1 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-bottom: 25px;
}

.section-6_box .social_media .icons {
    display: flex;
    gap: 40px;
}

.section-6_box .social_media .icons .bx {
    font-size: 25px;
}
